/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-wp-quote-blocks {
	padding: 2px;
}

.quote-variation-simple .quote-icon {
	text-align: center;
}

.quote-variation-centred {
	position: relative;
	.quote-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		opacity: 0.2;
		transform: translate(-50%,-50%);
		display: flex;
		flex-direction: row;
	}
}

.wp-block-create-block-wp-quote-blocks, .wp-quote-blocks {
	.citation {
		margin-bottom: 0;
	}
	.quote, .citation {
		position: relative;
		z-index: 1;
		margin: 0;
	}
	.citation {
		margin-top: 0.75rem;
	}
}

.quote-variation-block-quotation {
	display: flex;
	flex-wrap: wrap;
	.quote-icon {
		padding-right: 1em;
	}
	.wpqb__line {
		width: 100%;
	}
	.quote-icon, .quote-wrapper {
		flex-grow: 1;
	}
	.quote-wrapper {
		max-width: 80%;
	}
}

.quote-variation-closed {
	.quote-right-icon {
		display: flex;
		justify-content: flex-end;
		margin-top: -2rem;
	}
	.quote-icon {
		margin-bottom: -2rem;
	}
}

.wp-quote-icons__options button svg {
	width: 24px;
	height: 24px;
}

.wpqb__line {
	border-bottom: solid #000;
}